@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "montserrat", sans-serif;

}

*/*aplica as configuração à todos os elementos da pagina*/ {
    margin/*distancia entre a margem e os conteúdos externos*/: 0;
    padding/*distância entre a margem e os conteúdos internos*/: 0;
}
body {
    /*height (altura): 100vh (significa que a altura do body será igual a altura do Viewport)*/
    box-sizing: border-box;
    background-color/*cor do fundo*/: var(--cor-primaria);
    color/*cor dos textos*/:var(--cor-secundaria);
}

.cabecalho{
    padding: 5% 0% 0% 10%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 10%;
    display:flex/*significa que os elementos da pagina serão organizados de forma dinâmica*/;
    align-items /*alinhamento dos itens*/: center/*alinhamento dos itens centralizados*/;
    justify-content/*diposição dos elementos*/: space-between/*cria um espaço entre os elementos*/;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column; /*orienta a disposição dos elementos filhos, se em linhas ou colunas*/
    gap: 40px; /*configura o espaçamento entre os elementos filhos*/
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /*tamanho da fonte*/
    font-family: var(--font-primaria); /*tipografia*/
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.apresentação__links__subtitulo{
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px; /*função responsável por arredondar bordas*/
    font-size: 1.5rem;
    font-weight: 400;
    padding: 16px 0;
    text-decoration: none; /*decoração do texto. Nesse caso estamos retirando a linha inferior (padrão de hiperlinks) do texto*/
    color: var(--cor-secundaria);
    font-family: var(--font-secundaria);
}

.apresentacao__links__link:hover{
    background-color: var(--cor-hover);
}

.apresentacao__imagem{
    width: 50%;
}

.rodape{
    font-family: var(--font-secundaria);
    font-size: 1.5rempx;
    font-weight: 400;
    color: var(--cor-primaria);    
    background-color:var(--cor-terciaria);
    text-align: center;
    padding: 24px;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao__conteudo{
        width: auto;
    }


}

